.login {
    width: 90%;
    max-width: 40rem;
    margin: 6rem auto 2rem auto;
    padding: 2rem;
}

.btn {
    border: 1px solid #4f005f;
    background: #4f005f;
}
.btn:hover,
.btn:active {
    background: #741188;
    border-color: #741188;
}

.actions {
    text-align: center;
}